# Import Libaries

In [1]:
import pickle
import glob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
from collections import Counter

%matplotlib inline

# Load Extracted Table

In [3]:
relationship_df = pickle.load(open('relationship_clean_df', 'rb'))
person_df = pickle.load(open('person_clean_df', 'rb'))
company_df = pickle.load(open('company_with_person_info', 'rb'))
degrees_df = pickle.load(open('degrees_grouped_df', 'rb'))
#acquisitions_df = pickle.load(open('acquisitions_df', 'rb'))
#ipo_df = pickle.load(open('ipo_clean_df', 'rb'))
#milestone_df = pickle.load(open('milestones_person_df', 'rb'))

In [ ]:
degrees_df.degree_type.unique()

In [ ]:
degrees_df.degree_type = degrees_df.degree_type.replace({'other': 0,
                                'high_school': 1,
                                'associate' :2,
                                'bachelor': 3,
                                'master': 4,
                                'phd_or_above': 5})

In [ ]:
company_df.y.value_counts().plot(kind='bar')

# Data Cleaning
## Company Data

In [ ]:
company_df = company_df.dropna(subset=['category_code', 'description'])
company_df = company_df[(company_df.number_of_employees != -1) | (company_df.y != 'others')]
company_df = company_df[(company_df.founded_year.notnull()) | (company_df.y != 'others')]

company_df['founded_year'] = company_df.founded_year.astype("float64")

company_df = company_df[(company_df['founded_year'] > 1900) | (company_df.y != 'others')]
company_df.founded_year = (company_df.founded_year
                            .fillna(round(np.mean(company_df.founded_year),0))
                            .astype("int32"))

company_df['overview'] = company_df['overview'].str.lower().str.strip('</p>').str.strip('<p>')
company_df['description'] = company_df['description'].str.lower().str.strip('</p>').str.strip('<p>')

company_df.overview.fillna("")
company_df.overview = company_df.overview.fillna("")
company_df.overview.apply(lambda x: re.sub(r'[^\w\s\d]',' ',x))

company_df.description.fillna("")
company_df.description = company_df.description.fillna("")
company_df.description.apply(lambda x: re.sub(r'[^\w\s\d]',' ',x))

company_df = company_df.drop(['alias_list', 'ipo', 'acquisition',
                              'twitter_username', 'number_of_employees', 
                              'total_money_raised', 'founded_month', 'founded_day',
                              'number_of_employees',  'deadpooled_year',
                              'deadpooled_month', 'deadpooled_day',
                              'is_ipo', 'is_acquired', 'is_dead',
                              'money_raised', 'money_raised_currency'], axis=1)

company_df.y.hist()

## Relationship Data

In [8]:
def extract_title(x):
    titles = {'founder':['founder', 'co-foudner'],
              'ceo':['ceo', 'president', 'presient', 'chairman','executive'],
              'c-suite': ['cso','cbo', 'cco', 'cpo', 'cdo', 'cio', 'cto', 'cmo', 'cfo', 'coo', 'chief','vp'],
              'board-member': ['board member', 'advisor', 'adviser', 'board'],
              'senior': ['senior','manager', 'head', 'lead', 'dir', 'director']}
    
    """
              'tech': ['developer', 'technology', 'engineer', 'technical'],
              'business': ['marketing', 'business', 'strategy', 'investor', 'trader'],
              'communication': ['communication', 'correspondent', 'author', 'writer']
    """
    
    for title in titles.keys():
        for alt_name in titles[title]:
            if alt_name in x.lower():
                return title
    return 'other'
            

relationship_df['grouped_title'] = relationship_df.title.apply(extract_title)

## Person Data

In [9]:
def extract_gender(x):
   
    word_count = Counter(x.strip("</p>").strip("</p>").lower().split())
    gender_pron = {'female': ['she', 'her'],
                   'male': ['he', 'him', 'his']}
    
    pron_count = {'female': 0, 'male': 0}
    
    for key, words in gender_pron.items():
        for word in words:
            if word in word_count:
                pron_count[key] += word_count[word]
    
    if pron_count['female'] > pron_count['male']:
        return 'female'
    elif pron_count['female'] < pron_count['male']:
        return 'male'
    else:
        return np.nan

#person_df = person_df.drop(['degrees', 'alias_list', 'affiliation_name'], axis=1)

person_df.overview = person_df.overview.fillna("")
person_df['gender'] = person_df.overview.apply(extract_gender)

#person_join_relationship = person_df.set_index('permalink').join(relationship_df.set_index('person_permalink'))
#person_with_title = (person_join_relationship[person_join_relationship.grouped_title.isin(['ceo','founder','c-suite'])]
#                     .index.tolist())
#person_df = person_df[person_df.permalink.isin(person_with_title)]
#person_df.overview = person_df.overview.replace("",np.NaN)

## Degree Data

In [10]:
degrees_df.degree_type.value_counts()

bachelor        9988
master          6382
other           5132
phd_or_above    1115
high_school      172
associate         94
Name: degree_type, dtype: int64

In [11]:
def extract_degree_type(x):
    if "ph d" in x or "phd" in x or "post" in x or "doctoral" in x or "doctorate " in x:
        return "phd_or_postdoc"
    elif "master" in x or "ms" in x or "ma" in x or "me" in x or 'mba' in x:
        return "master"
    elif "bs" in x  or "bache" in x or 'ba' in x or "be" in x or "sc b" in x or "scb" in x or 'sb' in x:
        return "bachelor"
    elif "under" in x:
        return 'undergrad'
    elif "assoc" in x:
        return "associate"
    elif "jd" in x or 'law' in x:
        return "jd"
    else:
        return "other"
    
degrees_df.degree_type = (degrees_df.degree_type.str.replace(".","")
                     .str.lower()
                     .str.strip()
                     .apply(extract_degree_type))

In [12]:
degree_map = pd.read_csv('degree_map.csv', header=None)

degree_replacement_map = (degree_map.set_index(0).to_dict())[1]

main_degrees = list(set(degree_replacement_map.values()))

degrees_df.degree_type = (degrees_df.degree_type.str.replace(".","")
                          .str.lower()
                          .str.strip()
                          .replace(degree_replacement_map))

degrees_df.loc[~degrees_df.degree_type.isin(main_degrees),'degree_type'] = 'other'

degrees_df.subject = degrees_df.subject.str.lower()

major_counts = degrees_df.subject.value_counts()
main_majors = major_counts[major_counts > 50].index.tolist()


degrees_df.loc[~degrees_df.subject.isin(main_majors),'subject'] = 'other'

degrees_df.degree_type.str.replace(".","").str.lower().str.strip().value_counts().to_csv('temp.csv')

degrees_df.degree_type.value_counts().to_csv('temp.csv')

## Join

In [13]:
foo = pd.merge(person_df, relationship_df, left_on="permalink", right_on="person_permalink")
foo = foo[foo.grouped_title.isin(['founder'])]      #
#foo = foo[foo.grouped_title.isin(['ceo', 'c-suite', 'senior'])]                             

bar = pd.merge(foo, company_df, left_on='company_permalink', right_on='permalink')
#bar['nth_startup'] = bar.sort_values(['permalink_x', 'founded_year']).groupby('permalink_x').cumcount()
#bar.overview_x = bar.overview_x.str.strip("</p>").str.strip("<p>")
#bar.nth_startup = bar.nth_startup + 1

#bar.groupby('permalink_y')['permalink_x'].count().sort_values(ascending=False)

In [14]:
bar.person_permalink.nunique()

16486

In [ ]:
#bar = pd.concat([bar, bar1], axis=0, ignore_index=True)

In [ ]:
bar['nth_startup'] = bar.sort_values(['permalink_x', 'founded_year']).groupby('permalink_x').cumcount()
bar.overview_x = bar.overview_x.str.strip("</p>").str.strip("<p>")
bar.nth_startup = bar.nth_startup + 1

In [ ]:
female_founder = (bar[bar.gender == 'female']
                  .groupby('company_permalink', as_index=False)
                  ['permalink_x']
                  .count())
male_founder = (bar[bar.gender == 'male']
                .groupby('company_permalink', as_index=False)
                ['permalink_x']
                .count())
total_founder =  bar.groupby('company_permalink', as_index=False)['permalink_x'].count()
avg_nth_startup = bar.groupby('company_permalink', as_index=False)['nth_startup'].mean()

In [ ]:
company_df = (pd.merge(company_df, 
                      female_founder, 
                      left_on='permalink', 
                      right_on='company_permalink',
                      how='outer')
              .rename(columns={'permalink_x': '#female_founders'})
             .drop('company_permalink', axis=1))

company_df = (pd.merge(company_df, 
                      male_founder, 
                      left_on='permalink', 
                      right_on='company_permalink',
                      how='outer')
              .rename(columns={'permalink_x': '#male_founders'})
             .drop('company_permalink', axis=1))

company_df = (pd.merge(company_df, 
                      total_founder, 
                      left_on='permalink', 
                      right_on='company_permalink',
                      how='outer')
              .rename(columns={'permalink_x': '#total_founders'})
              .drop('company_permalink', axis=1))

company_df = (pd.merge(company_df, 
                      avg_nth_startup, 
                      left_on='permalink', 
                      right_on='company_permalink',
                      how='outer')
              .drop('company_permalink', axis=1))

In [ ]:
company_df = company_df.dropna(subset=['#total_founders'])

# Save final dataframe for analysis

In [ ]:
pickle.dump(company_df, open('final_company_features', 'rb'))